<ion-content *ngIf="order">

    <ion-card *ngIf="order.tickets">
        <ion-card-header>
            <ion-icon name="copy" item-start></ion-icon>
            Tickets
        </ion-card-header>

        <ion-list>
            <ion-item *ngFor="let ticket of order['tickets']"> 
                <span item-start>{{ ticket.contingent.name }}</span><span item-end>{{ ticket.pricetype.name }}</span>
            </ion-item>
        </ion-list>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-icon name="document" item-start></ion-icon>
            Notes
        </ion-card-header>
        <ion-list>
            <ion-item *ngFor="let note of notes">
                <span item-start>{{ note.note_text }}</span><span item-end>{{ note.created_at }}</span>
            </ion-item>
            <ion-item>
                <button ion-button (click)="openAddNotePage()">Make new note</button>
            </ion-item>
        </ion-list>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-icon name="information-circle" item-start></ion-icon>
            Information
        </ion-card-header>

        <ion-list>
            <ion-item>
                <div item-start>
                    Payed
                </div>
                <div item-end>
                    {{ order.payed }}
                </div>
            </ion-item>
            <ion-item>
                <div item-start>
                    Activated
                </div>
                <div item-end>
                    {{ order.activated }}
                </div>
            </ion-item>
            <ion-item>
                <div item-start>
                    Expired
                </div>
                <div item-end>
                    {{ order.expired }}
                </div>
            </ion-item>
        </ion-list>
    </ion-card>
    <ion-card *ngIf="order.contact_information">
        <ion-card-header>
            <ion-icon name="contact" item-start>
            </ion-icon>
            Contact
        </ion-card-header>

        <ion-list>
            <ion-item>
                <div item-start>
                    Name
                </div>
                <div item-end>
                    {{ order.contact_information.full_name }}
                </div>
            </ion-item>
            <ion-item>
                <div item-start>
                    Place
                </div>
                <div item-end>
                    {{ order.contact_information.place }}
                </div>
            </ion-item>
            <ion-item *ngIf="order.contact_information.company">
                <div item-start>
                    Company
                </div>
                <div item-end>
                    {{ order.contact_information.company }}
                </div>
            </ion-item>
            <ion-item *ngIf="order.contact_information.phone_number">
                <div item-start>
                    Phonenumber
                </div>
                <div item-end>
                    {{ order.contact_information.phone_number }}
                </div>
            </ion-item>
        </ion-list>
    </ion-card>
</ion-content>